{% extends 'main.html' %}

{% load static %}


{% block title %}للأجهزة الكهربائية || أبناء صبري{% endblock title %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../static/images/bg_2.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'home_page' %}">الرئيسية<i
                            class="fa fa-chevron-right"></i></a></span> <span>أضف منتج<i
                            class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread">أضف منتج</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper px-md-4">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">أضف منتج</h3>
                                    <form method="POST" id="contactForm" enctype="multipart/form-data"
                                          name="contactForm" class="contactForm">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">الإسم</label>
                                                    <input type="text" class="form-control" name="name" id="name"
                                                           placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="price">السعر</label>
                                                    <input type="number" class="form-control" name="price" id="price"
                                                           placeholder="Price ">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="status">الحالة</label>
                                                    <select id="status" name="status" class="form-control">
                                                        <option value="1">تخفيض</option>
                                                        <option value="2">وصل حديثاً</option>
                                                        <option value="3">الأفضل مبيعاً</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="category">الصنف</label>
                                                    <select id="category" name="category" class="form-control">
                                                        <option value="5">أجهزة صوتية</option>
                                                        <option value="1">لاب توب و الكترونيات</option>
                                                        <option value="2">تليفزيونات</option>
                                                        <option value="3">الأجهزة المنزلية</option>
                                                        <option value="4">الأجهزه المنزلية الصغيرة</option>
                                                        <option value="5"> تكييفات ومنقى هواء</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="input-group col-md-6 d-flex mb-3">
                                                    <label class="label" for="quantity">الكمية</label>

                                                    <span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
	                   <i class="fa fa-minus"></i>
	                	</button>
	            		</span>
                                                    <input type="text" id="quantity" name="quantity"
                                                           class="quantity form-control input-number" value="1" min="1"
                                                           max="100">
                                                    <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="fa fa-plus"></i>
	                 </button>
	             	</span>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="subject">الصورة</label>
                                                    <input type="file" class="form-control" name="image" id="image"
                                                           placeholder="Image">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="إضافة" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 order-md-first d-flex align-items-stretch">
                                <div class="map">
                                    <img class="img-fluid" style="width: 29rem;height: 92vh;"
                                         src="{% static 'images/image_5.jpg' %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}


{% block javascript %}
    <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });
    </script>
{% endblock javascript %}