{% extends 'main.html' %}


{% block title %}أبناء صبري للأجهزة الكهربائية || الشروط والأحكام{% endblock title %}


{% block body %}
<div class="sidebar-box ftco-animate">
           <div class="sidebar-box ftco-animate">
              <h3 style="text-align:center;">الشروط والأحكام</h3>
<p style="text-align:right;"><bold>ترحب شركة أبناء صبري للأجهزة الكهربائية بزيارتك لهذا الموقع ونسعد بتقديم جميع المعلومات والخدمات ، وفيما يلي البنود والقيود القانونية المفروضة على جميع زائري هذا الموقع والمواقع ذات الصلة :-</bold></p>
 <p style="text-align:right;">
1.    يشير دخولك على الموقع إلى معرفتك وقبولك بهذه البنود والشروط وموافقتك عليها كاملة وهو تأكيد منك بالالتزام بمضمون تلك الشروط الخاصة بمجموعة شركات ومصانع أبناء صبري للأجهزة الكهربائية وموقعها الالكتروني.
</p>
               <p style="text-align:right;">
2.    لا يحق تسجيل عضوية لمن هم دون الـ 18 عام ولموقع مجموعة أبناء صبري للأجهزة الكهربائية الحق بإلغاء أي عضوية لأى عضو لم يتجاوز الـ 18 عام.
</p>
               <p style="text-align:right;">
3.    عند التسجيل على الموقع تكون ملتزماً بإمدادنا ببعض المعلومات الخاصة بإكمال عملية التسجيل وبإدراج كلمة سر خاصة بك وعند قبول الطلب ستكون عضواً علي الموقع الالكتروني.
</p>
               <p style="text-align:right;">4.    الموقع غير مسئول عن حفاظك علي سرية المعلومات وكلمة السر الخاصة بك ، في حالة أنك قمت بإعطائها لشخص آخر وفي حالة وجود أي عمليات قد تكون غير موثوقة فللموقع الحق في إيقاف الحساب نهائياً دون الرجوع إليك.</p>
               <p style="text-align:right;">
5.    مجموعة أبناء صبري للأجهزة الكهربائية تمنح العميل ترخيصًا غير قابل للتحويل أو الإلغاء لكي يستخدم الموقع بموجب الشروط والأحكام المحدَّدة ، وتكمن غاية هذا الترخيص في التسوق لشراء سلعٍ شخصية تُباع على الموقع أو تصفح الموقع للحصول على أسعار أو مواصفات منتجاتنا ، ويُحظر الاستخدام لأغراض تجارية أو الاستخدام باسم أي طرف ثالث ، باستثناء ما تم السماح به من قبلنا بوضوح وشفافية سلفاً ، ويؤدي أي خرق أو إخلال بهذه الشروط والأحكام إلى إلغاء فوري للترخيص الممنوح في هذه الفقرة من دون أي سابق إنذار لك.
</p>
               <p style="text-align:right;">6.    يلتزم موقع أبناء صبري للأجهزة الكهربائية جروب بالحفاظ الكامل علي سرية جميع البيانات الخاصة بكل العملاء المسجلين على الموقع ولا يتم تزويد أي جهة بأي معلومات خاصة عن حسابك إلا الأسم ورقم التليفون والعنوان وذلك في حالة قيامك بأي عملية شراء.</p>
  <p style="text-align:right;">7.    المحتويات التي يتضمنها هذا الموقع على سبيل المثال لا الحصر هي النصوص أو الرسومات أو الصور أو الأصوت أو الفيديوهات أو التنزيلات أو الروابط أو رموز المصادر "الخدمات والمواد" تعد ملك لموقع مجموعة أبناء صبري للأجهزة الكهربائية ومحمية بموجب حقوق النشر طبقاً لقانون حماية الملكية الفكرية فقد استثمرت مجموعة أبناء صبري للأجهزة الكهربائية فيها المال والوقت والجهد لتطويرها.</p>
   <p style="text-align:right;">8.    تحتفظ مجموعة أبناء صبري للأجهزة الكهربائية بجميع حقوق النشر والعلامات التجارية وبراءات الاختراع وحقوق الملكية الفكرية الأخرى في الخدمات والمواد ، وتقتصر المواد والخدمات فقط على عملاء مجموعة أبناء صبري للأجهزة الكهربائية ومتوفرة فقط من أجل راحتهم ولا تمنحك مجموعة العربى أي حقوق ملكية أو ترخيص لأي من هذه الخدمات والمواد.</p>
               <p style="text-align:right;">9.    يحظر بشدة أي استخدام أو إعادة إنتاج غير مصرح به للمعلومات والخدمات والمواد وحقوق الملكية التي يتضمنها هذا الموقع وحقوق الغير أو التى تخالف النظام العام أو الآداب العامة أو الملكية الفكرية لحقوق الغير.</p>
    <p style="text-align:right;">
10.     لا تتحمل مجموعة أبناء صبري للأجهزة الكهربائية أي مسئولية عن أي فقد أو أضرار تنشأ بشكل مباشر أو غير مباشر من استخدام هذا الموقع بما في ذلك الفقد أو الأضرار الخاصة أو العارضة أو اللاحقة ، أو الفقد أو الأضرار الناجمة عنه بأية طريقة ، بما في ذلك على سبيل المثال لا الحصر ، التي تنشأ عن أي عيب أو خطأ أو نقص أو عدم دقة في هذا الموقع.
</p>
               <p style="text-align:right;">11.     لا تتحمل مجموعة العربى أو تقبل أي مسئولية بشأن تمكينك من الربط بموقع آخر أو عواقب التعامل مع محتويات موقع آخر ، وتهدف أي روابط تشعبية داخل هذا الموقع إلى تقديم المعلومات وتوفير الراحة من أجلك ولم تقم مجموعة أبناء صبري للأجهزة الكهربائية بتحليلها أو التحقق منها ولا ينطوي تضمين مجموعة أبناء صبري للأجهزة الكهربائية لهذه الروابط التشعبية على أي موافقة على المواد الموجودة على أي من هذه المواقع ولا تتحمل أى مسئولية جنائية أو مدنية تبعاً لذلك ولا يحق للغير المطالبة بأى شيء أو تعويض عن ذلك.</p>
               <p style="text-align:right;">12.     توصي مجموعة أبناء صبري للأجهزة الكهربائية عملائها الكرام التأكد من شروط وأحكام القيود القانونية للمواقع الأخرى والتى قد يتضرر منها الغير من خلال موقع مجموعة أبناء صبري للأجهزة الكهربائية والتي تخلي مجموعة أبناء صبري للأجهزة الكهربائية مسئوليتها من ذلك طبقاً للفقرة السابقة.</p>
      <p style="text-align:right;">
13.     في حال شعورك بالقلق على بياناتك يحق لك طلب الوصول إلى البيانات الشخصية التي نحملها عنك أو سبق ونقلتها إلينا ، ويحق لك أن تطلب تصحيح أي أخطاء في بياناتك الشخصية ويتم ذلك مجاناً.
</p>
               <p style="text-align:right;">
14.     من المُحتمل أن ننقل معلوماتك إلى شركات أخرى في مجموعتنا أو إلى وكلائنا والمتعاقدين معنا لمساعدتنا في المعاملات المتعلقة وعلى سبيل المثال إلى طرف ثالث لمعاونتنا في تسليم المنتجات إليك واستلام الدفعات منك واستخدامها لأغراض الإحصاءات وأبحاث التسويق أو لمساعدة فريق خدمة العملاء أو لإرسال العروض الخاصة بنا ، وقد نحتاج لتبادل المعلومات مع طرف ثالث بهدف الحماية من الاحتيال والحد من مخاطر الائتمان.
</p>
       <p style="text-align:right;">15.     إن كل مشاركات العملاء على الموقع و ما تقدمه لنا بما في ذلك ــ على سبيل المثال وليس الحصرــ الأسئلة والانتقادات والتعليقات والاقتراحات مجتمعين في لفظ "المشاركات" تصبح ملكنا الوحيد والحصري ، ولا تعود بأي حال من الأحوال ملكاً للعميل ، وفضلاً عن الحقوق التي تنطبق على أي نوع من المشاركات ، وبمجرد أنك تشاركنا بتعليقاتك أو انتقاداتك على الموقع ، فإنك تمنحنا أيضاً حق استخدام الاسم الذي تعرضه والمرتبط مباشرةً بهذا النقد أو التعليق أو أي محتوى آخر ، ولا يحق لك استخدام عنوان مُزيف للبريد الالكتروني أو الإدعاء بأنك شخصٌ آخر أو محاولة تضليلنا أو أي طرف ثالث فيما يتعلَّق بأصالة وموثوقية أي من هذه المشاركات ، كما يجوز لنا حذف أو إخفاء أي من هذه المشاركات غير أننا لسنا ملزمين بذلك.</p>
               <p style="text-align:right;">16.     فيما يتعلق بأي منافسة بالمسابقات على صفحة أبناء صبري للأجهزة الكهربائية جروب بموقع الفيس بوك https://www.facebook.com/elarabygroup64 ، فنحن نستخدم البيانات لإخطار الفائزين وللإعلان عن عروضنا ، ويمكنك العثور على مزيد من التفاصيل عن شروط المشاركة في كل منافسة/مسابقة عبر صفحتنا على الفيس بوك.</p>
        <p style="text-align:right;">7.    في حالة خرق هذه القوانين سيتعامل الفريق القانوني بمجموعة شركات أبناء صبري للأجهزة الكهربائية مع العميل ويتم إلغاء تفعيل حسابه ومنعه من إجراء أي طلبات على الموقع الالكتروني للعربي جروب ، ويحق للشركة اتخاذ ما يلزم من إجراءات قانونية للحفاظ على حقها.</p>
         <p style="text-align:right;">18.    تُفسَّر هذه الشروط والأحكام وتُطبَّق بموجب القوانين السارية في جمهورية مصر أبناء صبري للأجهزة الكهربائيةة وبموجب ذلك يوافق كل طرف على المثول أمام هيئات المحاكم القضائية في جمهورية مصر أبناء صبري للأجهزة الكهربائيةة والتنازل عن أي اعتراضات تتعلق بالمكان.</p>
          <p style="text-align:right;">
19.    بالإضافة إلى أي أحكام قانونية أو إجراءات الإنصاف القضائي يجوز لنا فوراً ومن دون سابق إنذار لك تعديل أو حذف أي من هذه الشروط والأحكام السابقة أو نلغي أياً من حقوقك الممنوحة أو جميعها بموجب الشروط والأحكام ، وفي أي حالة لإنهاء هذا التعاقد ، يتعين عليك التوقف فوراً عن زيارة الموقع واستخدامه ، وفضلاً عن إصدار أحكام قانونية أو إجراءات منصفة قضائياً ، قد نُلغي فورًا جميع الكلمات السرية أو غيرها من أساليب تعريف الحساب الممنوحة لك ، ونرفض أي زيارة أو استخدام لهذا الموقع كلياً أو جزئياً ، ولن يؤثِر أي إبطال لهذا الاتفاق في جميع الحقوق والالتزامات بما في ذلك على سبيل المثال التزامات الدفع الخاصة بالأطراف والصادرة قبل تاريخ إنهاء التعاقد ، ومن ثَمّ فأنت توافق على أن القائمين على الموقع لن يتحملوا المسئولية عنك أو عن أي فرد آخر نتيجة لتعليق الخدمة أو إنهائها ، وإذا كُنتَ غير راضٍي عن أي من الشروط أو الأحكام أو النظام أو السياسات أو المباديء التوجيهية أو الممارسات الخاصة بشركة أبناء صبري للأجهزة الكهربائية جروب فيمكنك التوقف عن زيارة الموقع.
</p style="text-align:right;">
           </div>
          </div>
{% endblock body %}

