{% extends 'main.html' %}


{% block title %}للأجهزة الكهربائية || أبناء صبري{% endblock title %}


{% block body %}
<div class="sidebar-box ftco-animate">
           <div class="sidebar-box ftco-animate">
              <h3 style="text-align:center;">سياسة البيع</h3>
              <p   style="text-align:right;">الهدف الرئيسي لشركة أبنائ صبري للأجهزة الكهربائية من إتاحة البيع عن طريق موقعها الالكترونى هو الوصول إلى المستخدم النهائي فقط فهو مخصص ومقصور على الاستخدام الشخصي ، وليس البيع التجارى أو الموزعين ، لذلك يحق للشركة إلغاء أي طلبات شراء يتضح أنها خاصة بموزعين أو فى حالة تكرار تسجيل طلبات شراء على نفس المنتجات أكثر من مرة ، أو تسجيل طلب شراء لشخص أخر ، ولنا الحق أيضاً فى وضع قيود على عدد المنتجات المباعة والمسجلة بطلب الشراء.</p>
              <p style="text-align:right;"> نحرص على توفير أدق المعلومات المتعلقة بالأسعار لجميع المستخدمين الذين يزورون الموقع الالكتروني ، إلّا أنَّ الأخطاء قد تكون واردة في بعض الأحيان كالحالات التي لا يتم فيها تحديد سعر المنتج بشكلٍ صحيحٍ على الموقع ومن ثمّ فنحتفظ بالحقّ في رفض أو إلغاء أي طلب من الطلبات التى يتم تسجيلها على موقعنا على منتج مسجل بسعر خطأ أو مسجل عن طريق الخطأ على عرض انتهى بالفعل ، ويتم تنفيذ الطلب فقط فى حالة تعديل السعر إلى السعر الصحيح وموافقة العميل على ذلك.
نحن نحتفظ لأنفسنا بالحق في تصحيح الأخطاء أو تحديث محتويات الموقع الالكتروني الخاص بنا أو تعديل أسعار المنتجات في أي وقت دون إخطار سابق بذلك وللشركة الحق فى تعديل أو حذف أى من بنود سياسة البيع الخاصة بها فى أي وقت دون إنذار سابق.</p>
           <p style="text-align:right;"> نحرص على توفير أدق المعلومات المتعلقة بالأسعار لجميع المستخدمين الذين يزورون الموقع الالكتروني ، إلّا أنَّ الأخطاء قد تكون واردة في بعض الأحيان كالحالات التي لا يتم فيها تحديد سعر المنتج بشكلٍ صحيحٍ على الموقع ومن ثمّ فنحتفظ بالحقّ في رفض أو إلغاء أي طلب من الطلبات التى يتم تسجيلها على موقعنا على منتج مسجل بسعر خطأ أو مسجل عن طريق الخطأ على عرض انتهى بالفعل ، ويتم تنفيذ الطلب فقط فى حالة تعديل السعر إلى السعر الصحيح وموافقة العميل على ذلك.
نحن نحتفظ لأنفسنا بالحق في تصحيح الأخطاء أو تحديث محتويات الموقع الالكتروني الخاص بنا أو تعديل أسعار المنتجات في أي وقت دون إخطار سابق بذلك وللشركة الحق فى تعديل أو حذف أى من بنود سياسة البيع الخاصة بها فى أي وقت دون إنذار سابق.</p>
          <p style="text-align:right;"> يقوم العميل بتسجيل طلب الشراء بنفسه من خلال موقعنا الالكتروني ويظهر له رقم طلب الشراء بعد استكمال جميع الخطوات بنجاح وأثناء تسجيل طلب الشراء يقوم العميل باختيار ميعاد تنفيذ الطلب طبقاً للمواعيد المتاحة للتنفيذ على الموقع أثناء تسجيل الطلب ، ويتم إرسال بريد الكتروني للعميل بتفاصيل طلب الشراء ، وأيضاً يتم إرسال رسالة للعميل على رقم التليفون المسجل بالطلب موضح بها رقم الطلب ، ويتم الاتصال بالعميل فى حالة الحاجة إلى استكمال البيانات قبل تأكيد الطلب ، ويحق لنا إلغاء طلب الشراء فى أى وقت فى حالة أننا لم نتمكن من الوصول للعميل ، كما أنه يتم التنفيذ فى العنوان المسجل فى طلب الشراء فقط وفى الميعاد الذي حدده العميل أثناء تسجيل طلب الشراء ، وبتوقيع العميل بالاستلام يعد ذلك بمثابة موافقة منه على أن المنتج بحالة جيدة وبكل مشتملاته ، وفى حالة رغبة العميل فى تركيب الجهاز من قبل شركتنا يقوم بالتواصل مع خدمة العملاء 01097547000
 لتسجيل بلاغ تركيب ، وذلك في حالة الأجهزة التي تحتاج لفني من الشركة لتركيبها ، وأثناء تسجيل البلاغ يتم التوضيح للعميل رسوم التركيب التي سيتم تحصيلها إن وجد ، وبالنسبة لأجهزة اللاب توب يجب على العميل أن يقوم بالتواصل مع خدمة العملاء 01097547000 قسم الأدوات المكتبية لتسجيل ضمان الجهاز وذلك خلال 14 يوم من الاستلام.
</p>
               <p style="text-align:right;">يجب الحصول على الرقم القومي للعميل فى حالة تسجيل طلب شراء بقيمة أكبر من خمسين ألف جنيه وذلك تطبيقاً لأحكام المادة 12 من قانون القيمة المضافة رقم 67 لسنة 2016 ، وطبقاً للمادة 13 من اللائحة التنفيذية لقانون القيمة المضافة رقم67 لسنة 2016 ، وطبقاً للمادة الثانية من قرار وزارة المالية رقم 623 لسنة 2018 ، ويحق لشركة أبناء صبري للأجهز الكهربائية إلغاء طلب الشراء فى حالة رفض العميل إرسال الرقم القومي الخاص به.
</p>
           </div>
          </div>
        <div class="sidebar-box ftco-animate">
              <h3 style="text-align:center;">سياسة استرجاع المنتجات :-</h3>
              <p style="text-align:right;">يحق للعميل استبدال أو استرجاع المنتج الذي تم شراءه من الموقع الالكتروني خلال 30 يوم من تاريخ الشراء فقط في حالة وجود عيب صناعة بالمنتج وذلك طبقاً لقانون حماية المستهلك ، وفي حالة انتهاء مدة الـ 30 يوم لن يتم استبدال أو استرجاع الجهاز لأي سببٍ كان ، ويجب على العميل فى هذه الحالة التواصل مع خدمة العملاء 01097547000 لتسجيل بلاغ صيانة وذلك بالنسبة للأجهزة التى يتم تسجيل بلاغ صيانة لها ، وذلك طبقاً لنص المادة 21 من قانون حماية المستهلك.
عند استرجاع أو استبدال المنتج يجب أن تكون الكرتونة ومواد التغليف في حالتها الأصلية وألا يكون قد تم فتح كرتونة المنتج أو استخدامه ويكون بجميع مشتملاته مصحوباً بكافة المستندات الأصلية ، وفي حالة أن هناك هدية على طلب الشراء يجب أن يتم إسترجاعها مع الجهاز و إذا لم يتم إرجاع كافة المرفقات لن يتم الموافقة على طلب الاستبدال أو الاسترجاع ، وفي حالة استرجاع أو استبدال منتج تم شرائه وعليه خصم سعر أو عرض سيتم رد ما قام بدفعه العميل فقط.
* فى حالة رغبة العميل في إستبدال أو استرجاع المنتج رغم عدم وجود عيب صناعة به خلال مدة الـ 14 يوم من تاريخ استلام المنتج طبقاً للمادة 17 من قانون حماية المستهلك</p>
            </div>
          </div>
            <div class="sidebar-box ftco-animate">
              <h3 style="text-align:center;"> 1. فى حالة أنه لم يتم فتح كرتونة الجهاز أو استخدامه والجهاز مازال بحالته الأصلية :</h3>
              <p style="text-align:right;"> طبقاً لنص المادة 17 من قانون حماية المستهلك ، يحق للمستهلك طلب استبدال أو استرداد قيمة المنتج خلال 14 يوم من تاريخ استلام المنتج وذلك إذا لم يكن الجهاز به عيب صناعة ، ولكن بشرط أن يكون بالحالة التى كانت عليها السلعة عند التعاقد (أى لم يتم فتحها أو استخدامها).
•    فى هذه الحالة يتم استبدال المنتج مع تحصيل رد فرق السعر بين الموديلات إن وجد أو استرجاع المنتج ورد قيمته بعد خصم مصاريف الشحن (300 جنيه لأجهزة التكييفات) وذلك طبقاً للمادة 40 فقرة 1 و 2 من قانون حماية المستهلك (يلتزم المورد برد المبلغ المدفوع للعميل بنفس طريقة الدفع ويتحمل المستهلك نفقات الشحن وإعادة المنتج).
•    بالإضافة إلى أنه في حالة الدفع الالكتروني أون لاين عن طريق VISA / Master أو فودافون كاش أو اتصالات كاش سيتم خصم مصاريف إدارية بقيمة (2.2%) من قيمة الجهاز ، أو خصم مصاريف إدارية بقيمة (2.25%) من قيمة الجهاز في حالة الدفع من خلال خدمات فوري ، أو خصم مصاريف إدارية بقيمة (1.45% + 1 جنيه) من قيمة الجهاز في حالة الدفع من خلال ماكينات MPOS أثناء استلام المنتج.</p>
           <p style="text-align:center;">2. في حالة قيام العميل بفتح كرتونة الجهاز :
طبقاً لنص المادة 17 فقرة 2 من قانون حماية المستهلك لايحق للمستهلك استبدال الجهاز أو استرجاعه في حالة فتح كرتونة الجهاز أو استخدام الجهاز كما هو واضح في الحالات التالية :
أ‌-    إذا كانت طبيعة السلعة أو خصائصها أو طريقة تعبئتها أو تغليفها تحول أو تغير دون استبدالها أو ردها أو يستحيل معها إعادتها للحالة التى كانت عليها وقت التعاقد.
ب‌-     إذا لم تكن بذات الحالة التى كانت عليها وقت البيع بسبب يرجع إلى المستهلك.
•    واستثناءاً على نص هذه المادة يتم استبدال المنتج مع تحصيل رد فرق السعر بين الموديلات إن وجد أو استرجاع الجهاز للعميل ورد قيمته ولكن بعد خصم (5%) تغليف من إجمالى قيمة الجهاز.
•    بالإضافة إلى خصم مصاريف الشحن (300 جنية لأجهزة التكييفات) وذلك طبقاً للمادة (40) فقرة (1 و 2) من قانون حماية المستهلك (يلتزم المورد برد المبلغ المدفوع للعميل بنفس طريقة الدفع ويتحمل المستهلك نفقات الشحن وإعادة المنتج).
•    بالإضافة إلى أنه في حالة الدفع الالكتروني أون لاين عن طريق VISA / Master أو فودافون كاش أو اتصالات كاش يتم خصم مصاريف إدارية بقيمة (2.2%) من قيمة الجهاز ، أو خصم مصاريف إدارية بقيمة (2.25%) من قيمة الجهاز فى حالة الدفع من خلال خدمات فوري ، أو خصم مصاريف إدارية بقيمة (1.45% + 1 جنيه) من قيمة الجهاز في حالة الدفع من خلال ماكينات MPOS أثناء استلام المنتج.
</p>
            </div>
          </div>
<div class="sidebar-box ftco-animate">
           <div class="sidebar-box ftco-animate">
              <h3 style="text-align:center;">الضمان</h3>
              <p style="text-align:right;">يسري الضمان من تاريخ فاتورة الشراء و في حالة فقدان الفاتورة سيتم احتساب سريان الضمان عن طريق الرقم المسلسل (السيريال) الخاص بالجهاز ، و في حالة عدم استلام العميل لفاتورة الشراء يتم إرسال الفاتورة عن طريق البريد الالكتروني.
لن تنطبق شروط الضمان على العيوب الناتجة عن سوء الاستخدام أو الصيانة خارج الشركة ، أو تركيب الأجهزة التى تحتاج إلى فني تركيب متخصص من الشركة عن طريق العميل أو طرف أخر ، أو العيوب الناتجة عن التصرفات أو التعديلات التي يقوم بها العميل بنفسه أو طرف ثالث غير مصرح له بالقيام بتلك التصرفات أو التعديلات على المنتج أو أستخدام الجهاز في الأغراض التجارية بدلاً من الاستعمال الشخصي المنزلى، أو أي ضرر يتسبب به العميل سواء عن عمد أو بدون عمد.</p>
           </div></div>
        </div>
      </div>
    </section> <!-- .section -->
{% endblock body %}